<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key> <string>local.backup</string>
    <key>Program</key> <string>/Users/stephen/.dotfiles/backup.sh</string>
    <key>RunAtLoad</key> <false/>
    <key>StandardOutPath</key> <string>/Users/stephen/.dotfiles/backup.log</string>
    <key>StandardErrorPath</key> <string>/Users/stephen/.dotfiles/backup-errors.log</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key> <integer>22</integer>
        <key>Minute</key> <integer>0</integer>
    </dict>
</dict>
</plist>
